*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans";

}

html,body{
    height: 100%;
    background-color: #f5f7f9
    
}

header{
    width: 100%;
    height: 85px;
    background-color: #69819b;
}

.logo1{
    cursor: pointer;
    width: 150px;
    height: 85px;
    float: left;
    margin-left: 120px;
    background-image: url("../ymagens/logo1.png");
    background-repeat: no-repeat;
    background-size: 100%, auto;
    background-position: center;   
}

.logo2{
    cursor: pointer;
    width: 150px;
    height: 85px;
    float: right;
    margin-right: 120px;
    background-image: url("../ymagens/logo2.png");
    background-repeat: no-repeat;
    background-size: 100%, auto;
    background-position: center;
 
}

.cover-form{        
    width: 100%;
    padding: 0 7%;
}

.bg{
    height: 510px;
    background-image: url("../ymagens/bg-form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}
.dvform{
    width: 32%;
    height: 490px;
    margin: 10px;
    margin-right: 3%;    
    float: right;
    position: relative;
}

.head-form{
    height: 20%;
    background-color: #d6d6d6;
    border-radius: 10px 10px 0 0;
    text-align: letf;
    display: inline-block;
}

h5{
    margin: 8% 5% 5% 5%;
    
}

.bottom-form{
    height: 80%;
    background-color: #d6d6d6;
    opacity: 0.8;
    border-radius: 0 0 10px 10px;
}

.bottom-form p{
    font-size: 15px;
    margin-left: 20px;
    padding-top: 15PX

}

.bottom-form input[type=text]{
    background-color: whitesmoke;
    margin: 0 5% 10px 5%;
    width: 90%;
    height: 35px;
    border-radius: 15px;
    border: none;
}

.bottom-form input[type=submit]{
    background-color: rgb(22, 50, 100);
    margin-top: 60px;
    margin-left: 20%;
    width: 60%;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
    
.anuncyo{
    width: 86%;
    height: 160px;
    background-color: #adbccc;
    text-align: center;
    line-height: 35px;
    display: block;
}

.anuncyo h3{
    padding-top:50px;
}

.arrow {
    background-image: url("ymagens/arrow.png");
    text-align: center;
    height: 0;
    position: relative;
    top:-30px;
}

.galerya{
    width: 86%;
    height: 280px;
    margin-top: 4px;
    background-color: #d8dfe7;    
}

.foto-d{
    width: 52%;
    height: 100%;
    float: right;
}

.foto-e{
    width: 52%;
    height: 100%;
    float: left;
}

.foto-d img{
    height: 100%;
    width: 100%;
}

.foto-e img{
    height: 100%;
    width: 100%;
}

.texto-e{
    width: 48%;
    float: left;
    line-height: 40px;
    margin-top: 90px;
    font-size: 19px;
    padding-left: 3%;

}

.texto-d{
    width: 48%;
    float: right;
    line-height: 40px;
    margin-top: 90px;
    font-size: 19px;
    padding-left: 3%;
}

.anuncyo2{
    width: 86%;
    height: 210px;
    background-color: #adbccc;
    text-align: center;
    line-height: 30px;
    display: block;
    margin-top: 4px;
}

.anuncyo2 h4{
    padding-top: 30px;
    margin-bottom: 25px;
}

.anuncyo2 p{
    padding: 0 20px 0 20px;
    text-decoration: underline;
}

footer{
    width: 86%;
    height: 60px;
    background-color: #f5f7f9;
    text-align: center;
    margin-top: 4px;
    line-height: 25px
}

footer p{
    font-size: 13px;
    margin-top: 42px;
}

/*---------------RESPONSIVO---------------------------------*/

@media screen and (max-width:880px){

    .dvform{
        width: 80%;
        height: 440px;
        margin-right: 10%; 
        text-align: center;   
    }

    .head-form{
        width: 100%;
        height: 20%;
        text-align: center;
    }

    .bottom-form input[type=submit]{
        margin-top: 20px;
        margin-left: 0;
    }


    .bottom-form input[type=text]{
        margin: 0 15% 10px 15%;
        width: 70%;
     }

     .bottom-form p{
        margin-left: 0;    
    }

    .texto-e, .texto-d{
        line-height: 30px;
        margin-top: 90px;
        font-size: 16px;
    }

    .anuncyo2{
        height: auto;
        line-height: 25px;        
    }  
    
}

@media screen and (max-width:556px){
    
    header{
        text-align: center;
        height: 140px;
    }

    .logo1,.logo2{
        margin: 0;
        float: none;
        display: inline-block;
    }

    .logo2{
        margin: -35px;
    }
    
    .anuncyo h3{        
    font-size: 20px;
    }

    .anuncyo p{
        line-height: 24px;
        font-size: 17px;
        padding: 8px 4px 4px 4px;
    }

    .texto-e, .texto-d{
        width: 100%;
        text-align: center;
        float: none;
        height:33%;
        line-height: 20px;
        margin-top: 10px;
        padding-left: 0;
        padding: 4%;    
    }

    .galerya{
        height: 280px;
    }
    
    .foto-d, .foto-e{
        width: 100%;
        height: 67%;
        float: none;
    }

    .anuncyo2{
        line-height: 30px;
        display: block;
        margin-top: 10px;
    }

    .anuncyo2 h4{
        font-size: 20px;
    }
    
    .anuncyo2 p{
        font-size: 18px;
        line-height: 25px;
    }

    footer p{
        font-size: 11px;
        margin-top: 18px;
    }
    
}